<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Controlling Grammatical Error Correction Using Word Edit Rate{% endblock %}</title>
    <link rel="stylesheet" href="~kengo/static/style.css">
</head>
<body>
    <header class="head">
        <h2>Demo: Controlling Grammatical Error Correction Using Word Edit Rate</h2>
    </header>
    <div class="form">
        {% block form %}
        {% endblock %}
    </div>

    <div class="result">
        {% block result %}
        {% endblock %}
    </div>

</body>
</html>
